# Create a copy of this file for each environment. (Eg. `.env.development.local` and `.env.production.local`).
# The given values are for the development enviroment running in docker by default.
BACKEND_HOSTNAME=stori_backend_dev
BACKEND_PORT=8081
NEXT_PUBLIC_BACKEND_URL=http://$BACKEND_HOSTNAME:$BACKEND_PORT

ACCESS_TOKEN_LOCALSTORAGE_KEY=accessToken
REFRESH_TOKEN_LOCALSTORAGE_KEY=refreshToken